:root {
  /** primary **/
  --ion-color-primary: #1B6A38;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
* {
  font-family: "open sans";
}
.maintab ion-icon {
  color: #d5d5e1;
}
.maintab .tab-selected ion-icon {
  color: #69db7c;
}
.br-16 {
  border-radius: 16px;
}
.br-8 {
  border-radius: 8px;
}
.ion-p-8 {
  padding: 8px;
}
.no-shadow {
  /* box-shadow: none !important; */
}
.no-shadow::after {
  background-image: none;
}
.bg-gray {
  --background: #d3f9d8;
  background: #d3f9d8;
}
.bg-white {
  --background: white;
  background: white;
}
.bg-primary {
  background: var(--ion-color-primary);
}
.card-light ion-row:first-child {
  border-bottom: 1px solid gray;
}
.card-success {
  background: #8ce99a;
}
.card-success ion-text {
  color: black;
}
.card-success ion-row:first-child {
  border-bottom: 1px solid white;
}
.color-navy {
  color: #535380;
}
.quizanswer {
  background: black;
}
.quizanswer ion-card {
  background: none;
  border: 2px solid white;
  border-radius: 8px;
  font-weight: bold;
}
.quizanswer-active {
  background: #ffc409 !important;
  color: black;
}
.quizNumberButton {
  width: 32px !important;
}
.bb-1 {
  border-bottom: 1px solid var(--ion-color-medium);
}
.bg-transparent{
  background-color: transparent;
  background: transparent;
  --background: transparent;
}
ion-modal {
  --height: 100% !important;
}
.icon-reload{
  margin-right: 16px;
}
table td{
  padding: 8px;
}
@media only screen and (min-width: 480px) {
  ion-app {
    max-width: 420px;
    margin: 0 auto;
  }
}

.alertexpired h2{
  color:var(--ion-color-danger) !important;
}
.alertexpired .alert-message{
  color:var(--ion-color-danger) !important;
}
.alertcomingsoon h2{
  color:var(--ion-color-warning) !important;
}
.alertcomingsoon .alert-message{
  color:var(--ion-color-warning) !important;
}
ion-alert h2{
  font-weight: bold !important;

}